body {
  margin: 0;
  padding: 0;
  padding-top: 4.5rem;
}
h2{
  margin: 30px auto;
  text-align: center;
}
.bg-dg {
  background-color: #DCE07B;
}
.bg-pk {
  background-color: #E2C27C;
}
#logo>span {
    display: inline-block;
}
#description .jandi-icon {
  margin-bottom: 8px;
}
.jandi-icon {
  z-index: -1;
  -webkit-animation: spin 5s infinite linear;
}
@-webkit-keyframes spin {
  0%  {
    -webkit-transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
.nav-item {
  display: block;
  padding: 5px 10px;
}
nav {
  z-index: 100;
  background-color: rgba(5,47,16) !important;
}
#contents {
  margin-top: -20px;
}

#header {
  width: 100%;
  text-align: center;
  color: white;
  margin: 0;
  padding: 50px 30px 50px 30px;
  background-image: linear-gradient(rgba(0, 37, 0, 0.9),rgba(0, 37, 0, 0.7)), url('images/cover.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 767px) {
  #header,#speaker{
    background-attachment: initial;
    background-position: center;
  }
}

#header h1 {
  text-align: center;
  margin-top: 50px;
  font-style: italic;
  font-weight: 900;
}
#header h2 {
  margin-top: 30px;
  font-weight: 100;
  font-size: 1.5em;
}
#header .register {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  display: block;
  margin: 10px auto;
  margin-top: 60px;
  font-weight: bold;
}
#time-nav {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url("images/countdown.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#time-nav .time-label {
  margin-top: 0;
  display: block;
  font-weight: 900;
  font-size: 2em;
}
.time-unit {
  font-weight: 100;
  font-size: 1.2em;
}
.time-divider {
  font-size: 3em;
  font-weight: 900;
  color: darkslategray;
  display: block;
  text-align: center;
  margin: 0px 20px;
}
@media only screen and (max-width: 768px) {
  .time-unit {
    width: 25%;
    min-width: 70px;
    font-size: 1em;
    margin-top: 10px;
  }
  .time-divider {
    display: none;
  }
  .time-label {
    margin-bottom: 0px;
  }

  #header>h2>a {
    display: block;
    margin-top: 10px;
  }
  #header>h2>span {
    display: none;
  }
}
.content {
  padding: 30px;
  padding-bottom: 70px;
}

#description {
  background-color: white;
  background-image: linear-gradient(rgba(248, 248, 248, 0.6),rgba(248, 248, 248, 0.6)), url("images/deco-layer.png");
  background-position: top left;
}
#description p {
  line-height: 170%;
  font-size: 1em;
}
#speakers {
  background-image: linear-gradient(rgba(0, 37, 0, 0.9),rgba(0, 37, 0, 0.7)), url('images/people.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#speakers .speaker {
  padding: 20px;
}
.speaker .speaker-profile {
  border-radius: 50% !important;
  display: block;
  background-color: #90B24C;
  padding: 2px;
  margin: 10px auto;
  width: 100%;
  max-width: 200px;
  height: auto;
}
@media (min-width: 300px) {
  .speaker {
    width: 50%;
  }
}

.speaker .speaker-name {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 20px;
  ine-height: 130%;
  color: white;
}
#schedule table {
  overflow-x: scroll;
}
#schedule table tr>th {
  max-width: 120px;
  width: 20%;
  text-align: center;
  font-weight: 300;
  color: #393B00;
}
#schedule table th,td {
  vertical-align: middle !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
#schedule table td:first-of-type {
  font-weight: bold;
  min-width: 150px;
  padding-left: 20px !important;
}
#schedule table td:last-of-type {
  padding-right: 20px !important;
}
#schedule .speaker {
  text-align: right;
}
#schedule .speaker-sm {
  border-radius: 50%;
  padding: 2px;
  background-color: #90B24C;
}
#ticket-price {
  background: linear-gradient(rgba(248, 248, 248, 0.6),rgba(248, 248, 248, 0.6)), url("images/deco-layer.png");
}
#ticket-price #price {
  font-weight: 800;
}
#ticket-price h2 {
  margin: 30px auto;
}
#ticket-price .card-title {
  font-weight: 150;
}
#ticket-price .card {
  border-radius: 10px;
  padding: 20px;
}
#ticket-price .card ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}
#ticket-price .card .card-text {
  margin-top: 10px;
  color: gray;
}
#ticket-price .card li {
  margin-bottom: 8px;
  color: #444444;
}
#ticket-price .link-register-form {
  margin-top: 20px;
  padding: 10px 30px;
  display: block;
  margin: auto;
}
#map {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
